<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.qaprosoft.shortesttrip.service.IAdjacentStationService">
	
	<resultMap id="adjacentStation"	type="com.qaprosoft.shortesttrip.models.AdjacentStation">
		<id property="id" column="id" />
		<result property="distanceStation" column="distance" />
		<association property="station" column="station_id" javaType = "com.qaprosoft.shortesttrip.models.Station" select = "com.qaprosoft.shortesttrip.service.IStationService.getById" />
		<association property="adjacentStation" column="adjacent_station_id" javaType = "com.qaprosoft.shortesttrip.models.Station" select = "com.qaprosoft.shortesttrip.service.IStationService.getById" />
	</resultMap>

	<select id="getById" parameterType="java.lang.Long"	resultMap="adjacentStation">
		SELECT * FROM Adjacent_stations WHERE id = #{id}
	</select>
	
	<select id="getAll" resultMap="adjacentStation">
		SELECT * FROM Adjacent_stations INNER JOIN Stations ON Stations.id = Adjacent_stations.station_id
	</select>
	
	<insert id="create" parameterType="com.qaprosoft.shortesttrip.models.AdjacentStation" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Adjacent_stations(station_id, adjacent_station_id, distance) VALUES(#{station.id}, #{adjacentStation.id}, #{distanceStation})
	</insert>

	<update id="update" parameterType="com.qaprosoft.shortesttrip.models.AdjacentStation">
		UPDATE Adjacent_stations SET station_id = #{station.id}, adjacent_station_id = #{adjacentStation.id}, distance = #{distanceStation} WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM Adjacent_stations WHERE id = #{id}
	</delete>

</mapper>