<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.qaprosoft.shortesttrip.service.IStationService">
	
	<resultMap id="station"	type="com.qaprosoft.shortesttrip.models.Station">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="cityId" column="city_id" />
		<collection property="buses" column="id" javaType="ArrayList" ofType="com.qaprosoft.shortesttrip.models.transport.Bus" select="com.qaprosoft.shortesttrip.service.IBusService.getBusesByStationId" />
		<collection property="trams" column="id" javaType="ArrayList" ofType="com.qaprosoft.shortesttrip.models.transport.Tram" select="com.qaprosoft.shortesttrip.service.ITramService.getTramsByStationId" />
		<collection property="trolleybuses" column="id" javaType="ArrayList" ofType="com.qaprosoft.shortesttrip.models.transport.Trolleybus" select="com.qaprosoft.shortesttrip.service.ITrolleybusService.getTrolleybusesByStationId" />
		<collection property="trains" column="id" javaType="ArrayList" ofType="com.qaprosoft.shortesttrip.models.transport.Train" select="com.qaprosoft.shortesttrip.service.ITrainService.getTrainsByStationId" />
		<collection property="taxi" column="id" javaType="ArrayList" ofType="com.qaprosoft.shortesttrip.models.transport.Taxi" select="com.qaprosoft.shortesttrip.service.ITaxiService.getTaxiByStationId" />
	</resultMap>
	
	<select id="getById" parameterType="java.lang.Long" resultMap="station">
		SELECT * FROM Stations WHERE id = #{id}
	</select>
	
	<select id="getAll" resultMap="station">
		SELECT * FROM Stations
	</select>
	
	<select id="getAllAdjacentStationsByStationId" parameterType="java.lang.Long" resultType="java.util.HashMap" resultMap="station">
		SELECT Stations.id,
		Adjacent_stations.distance FROM Stations INNER JOIN
		Adjacent_stations
		ON Adjacent_stations.adjacent_station_id=Stations.id
		WHERE
		Adjacent_stations.station_id = #{id}
	</select>
	
	<select id="getStationsByCityId" parameterType="java.lang.Long" resultMap="station">	
		SELECT Stations.id, Stations.name, Stations.city_id FROM Stations INNER JOIN Cities ON Cities.id = Stations.city_id WHERE Cities.ID = #{id}	
	</select>
	
	<insert id="create" parameterType="com.qaprosoft.shortesttrip.models.Station" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Stations(name,city_id) VALUES(#{name},#{cityId}) 	
	</insert>
	
	<update id="update" parameterType="com.qaprosoft.shortesttrip.models.Station">
		UPDATE Stations SET name = #{name}, city_id = #{cityId} WHERE id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM Cities WHERE id = #{id}
	</delete>
	
</mapper>