<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.shortesttrip.service.ITrainService">

	<resultMap id="train"
		type="com.qaprosoft.shortesttrip.models.transport.Train">
		<id property="id" column="id" />
		<result property="number" column="number" />
	</resultMap>

	<select id="getById" parameterType="java.lang.Long" resultMap="train">
		SELECT * FROM Trains WHERE id = #{id}
	</select>

	<select id="getAll" resultMap="train">
		SELECT * FROM Trains
	</select>
	
	<select id="getTrainsByStationId" parameterType="java.lang.Long" resultMap="train">	
		SELECT Trains.id, Trains.number FROM Trains INNER JOIN Trains_has_Stations ON Trains_has_Stations.train_id=Trains.id INNER JOIN Stations ON Stations.id=Trains_has_Stations.station_id WHERE Stations.id = #{id}	
	</select>

	<insert id="create" parameterType="com.qaprosoft.shortesttrip.models.transport.Train" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Trains(number)
		VALUES(#{number})
	</insert>

	<update id="update" parameterType="com.qaprosoft.shortesttrip.models.transport.Train">
		UPDATE Trains SET number = #{number} WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM Trains WHERE id = #{id}
	</delete>

</mapper>